.pagination-item{
  background: transparent;
  border: 1px solid #d1d1d1;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all ease 0.5s;
  &:not(:last-child){
    margin-right: 3px;
  }
  &:hover{
    background-color: #00aeff;
    color: #fff;
  }
  &--disabled{
    &:hover{
      color: #222;
      background: transparent;
    }
  }
}

.active{
  background-color: #00aeff;
  color: #fff;
}
