<div class="movie" *ngIf="movie">
  <div class="movie__wrapper" [style.backgroundImage]="getBackdropImageUrl(movie.backdrop_path)">
    <div class="movie__card">
      <div class="movie__poster">
        <img class="movie__image" [src]="getMoviePoster(movie.poster_path)" [alt]="movie.title">
      </div>
      <div class="movie__info">
        <h2 class="movie__title">{{ movie.title }} <span class="movie__release-date">({{ movie.release_date | date: 'yyyy' }})</span></h2>
        <ul class="movie__list-info">
          <li class="movie__list-item">Score: {{ movie.vote_average }}</li>
          <li class="movie__list-item">Popular: {{ movie.popularity }}</li>
          <li class="movie__list-item">Date release: {{ movie.release_date }}</li>
        </ul>
        <p class="movie__overview">{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
