.header{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 34px;
  background-color: #767676;
  color: #ffffff;
  padding: 20px 0;
  &__wrapper{
    display: flex;
  }
}

.logo{
  cursor: pointer;
  transition: all ease 0.5s;
}

.logo:hover{
  color: #00aeff;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}