@import url(./reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}
.container{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 1300px){
    max-width: 1180px;
  }

  @media screen and (max-width: 1180px){
    max-width: 960px;
  }

  @media screen and (max-width: 960px){
    max-width: 780px;
  }

  @media screen and (max-width: 780px){
    max-width: 560px;
  }

  @media screen and (max-width: 560px){
    max-width: 400px;
  }
}

