@import url(./reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

